/**
 * Variables
 */

$maincolor: brown;

$background: #f1f1f1;
$text: #444;
$placeholder: green;
$select_bg: rgba(complement($maincolor), 0.4); // default #b3d4fc
$select_tx: #000;

$fontSize: 1em;
$lineHeight: 1.45em;


