/**
 * Variables
 */

$maincolor: brown;
$white: #fff;
$lightgray: #f1f1f1;
$gray: #ccc;
$darkgray: #444;

$bodybgcolor: $lightgray;
$bodytextcolor: $darkgray;
$pholdercolor: green;

$select_bg: rgba(complement($maincolor), 0.4); // default #b3d4fc
$select_tx: #000;

$fontSize: 1em;
$lineHeight: 1.45em;

